* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

nav {
  height: 75px;
  width: 100%;
  background-color: rgb(2, 121, 229);
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
}

.logo {
  margin-left: 20px;
}

.logo-txt {
  font-size: 30px;
  line-height: 75;
  padding-left: 10px;
  color: white;
}
